In [10]:
import pandas as pd
import numpy as np
import math

In [69]:
FUNDAMENTAL_FREQ = 440 * (2**0)
FUNDAMENTAL_NOTE = 'A4'


### Defintions

Let a **semitone** be the multiplicative relationship between two frequencies $f_1$ and $f_2$ defined by $f_2=\sqrt[12]{2}*f_1$.

Let an **octave** be the multiplicative relationship between two frequencies $f_1$ and $f_2$ defined by $f_2=2*f_1$.

**Corrolary**:  There are 12 semitones in an octave by definition.

These are modern definitions used in Equal Tempermant to define the frequencies we use today

In [70]:
def get_midi_number(note: str):
    note_to_midi = {
        'C': 0, 'C#': 1, 'Db': 1, 'D': 2, 'D#': 3, 'Eb': 3, 'E': 4, 'F': 5,
        'F#': 6, 'Gb': 6, 'G': 7, 'G#': 8, 'Ab': 8, 'A': 9, 'A#': 10, 'Bb': 10, 'B': 11
    }
    note_name, octave = note[:-1], int(note[-1])
    midi_number = note_to_midi[note_name] + (octave + 1) * 12
    return midi_number

def get_note(midi_number: int):
    midi_to_note = {
        0: 'C', 1: 'C#', 2: 'D', 3: 'D#', 4: 'E', 5: 'F', 6: 'F#',
        7: 'G', 8: 'G#', 9: 'A', 10: 'A#', 11: 'B'
    }
    note_name = midi_to_note[midi_number % 12]
    octave = int((midi_number // 12) - 1)
    note = note_name + str(octave)
    return note

In [71]:
table1 = pd.DataFrame()
table1['n'] = range(1,30)
# table1['n'] = 1/ table1['n'] # Undertone Series
table1['f'] = FUNDAMENTAL_FREQ * table1['n']
table1['semitones'] = 12 * np.log2(table1['n'])
table1['round_semitones'] = table1['semitones'].round()
table1['note'] = table1['round_semitones'].apply(lambda s: get_note(get_midi_number(FUNDAMENTAL_NOTE) + s))
table1.set_index('n', inplace=True)

table1

        f  semitones  round_semitones note
n
1     440   0.000000              0.0   A4
2     880  12.000000             12.0   A5
3    1320  19.019550             19.0   E6
4    1760  24.000000             24.0   A6
5    2200  27.863137             28.0  C#7
6    2640  31.019550             31.0   E7
7    3080  33.688259             34.0   G7
8    3520  36.000000             36.0   A7
9    3960  38.039100             38.0   B7
10   4400  39.863137             40.0  C#8
11   4840  41.513179             42.0  D#8
12   5280  43.019550             43.0   E8
13   5720  44.405277             44.0   F8
14   6160  45.688259             46.0   G8
15   6600  46.882687             47.0  G#8
16   7040  48.000000             48.0   A8
17   7480  49.049554             49.0  A#8
18   7920  50.039100             50.0   B8
19   8360  50.975130             51.0   C9
20   8800  51.863137             52.0  C#9
21   9240  52.707809             53.0   D9
22   9680  53.513179             54.0  D#9
23  10120  54.282743             54.0  D#9
24  10560  55.019550             55.0   E9
25  11000  55.726274             56.0   F9
26  11440  56.405277             56.0   F9
27  11880  57.058650             57.0  F#9
28  12320  57.688259             58.0   G9
29  12760  58.295772             58.0   G9

In [59]:
def divide_2(x):
    if x == 0:
        return 1
    while (x) % 2 == 0:
        x = x / 2
    return int(x)


table2 = table1.copy()
table2['first_instance_n'] = pd.Series(table2.index).apply(divide_2)
table2

#{divide_2(x) for x in range(1,30)}

        f  semitones  round_semitones note  first_instance_n
n
1     440   0.000000              0.0   A4               1.0
2     880  12.000000             12.0   A5               3.0
3    1320  19.019550             19.0   E6               1.0
4    1760  24.000000             24.0   A6               5.0
5    2200  27.863137             28.0  C#7               3.0
6    2640  31.019550             31.0   E7               7.0
7    3080  33.688259             34.0   G7               1.0
8    3520  36.000000             36.0   A7               9.0
9    3960  38.039100             38.0   B7               5.0
10   4400  39.863137             40.0  C#8              11.0
11   4840  41.513179             42.0  D#8               3.0
12   5280  43.019550             43.0   E8              13.0
13   5720  44.405277             44.0   F8               7.0
14   6160  45.688259             46.0   G8              15.0
15   6600  46.882687             47.0  G#8               1.0
16   7040  48.000000             48.0   A8              17.0
17   7480  49.049554             49.0  A#8               9.0
18   7920  50.039100             50.0   B8              19.0
19   8360  50.975130             51.0   C9               5.0
20   8800  51.863137             52.0  C#9              21.0
21   9240  52.707809             53.0   D9              11.0
22   9680  53.513179             54.0  D#9              23.0
23  10120  54.282743             54.0  D#9               3.0
24  10560  55.019550             55.0   E9              25.0
25  11000  55.726274             56.0   F9              13.0
26  11440  56.405277             56.0   F9              27.0
27  11880  57.058650             57.0  F#9               7.0
28  12320  57.688259             58.0   G9              29.0
29  12760  58.295772             58.0   G9               NaN

In [ ]:
def get_frequency(note, fundamental_freq):

    pass


"""
I want to build a heatmap of the 88 keyboard against itself with the different frequencies

"""